NEXTAUTH_URL=

#API console domain. Please contact to BE team to get this
NEXT_PUBLIC_CONSOLE_API=

#This is the random key for nextauth - generate here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=